.LD {
  background-color: #f8a428;
  color: #ffffff;
}
.Lab {
  background-color: #ff0000;
  color: #ffffff;
}

.Con {
  background-color: #0000ff;
  color: #ffffff;
}

.XB {
  background-color: #C0C0C0;
  color: #ffffff;
}
